#table {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
    gap: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 50px;
    border: 1px solid lightgray;
    margin: 0;
    cursor: pointer;
}

.cell.headerFirst,
.cell.headerSecond {
    cursor: default;
    background-color: lightgray;
}

.cell.green {
    background-color: lightgreen;
}